header {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #e2e6e0;
}

h2 {
    margin: 10px;
}

button {
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #333;
}

p {
    margin: 10px;
}

.element {
    padding: 10px;
    border: 1px solid #333;
    margin: 10px;
}

footer {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #e2e6e0;
}